# URL redirects for local development
# Github pages will ignore this .htaccess file. But it does 
# support clean extensionless URLs.

# Turn on Apache mod_rewrite
RewriteEngine On

# Friendly URLs with no trailing slash
RewriteCond %{HTTP_HOST} ^localhost:4000$ [NC]
RewriteCond %{REQUEST_URI} !^/_site/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /_site/$1/
#RewriteRule ^([^.]+)/$ $1.html
