# URL redirects for local development
# Github pages will ignore this .htaccess file. But it does 
# support clean extensionless URLs.

# Turn on Apache mod_rewrite
RewriteEngine On

# Friendly URLs with no trailing slash
RewriteRule ^([^.]+)/$ $1/index.html 
RewriteRule ^([^.]+)$ $1.html
