/** 
 * main.css
 *
 * Base styles
 * Normalize.css incorporated in Pure.css
 */

body {
  margin: 0 auto;
  width: 960px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

.pure-g {
  letter-spacing: normal;
}

.pure-u-1-2 {
  padding-left: 20px;
  width: 460px;
}

.pure-u-1-2:first-child {
  padding-left: 0;
}

.pure-u-1-3 {
  width: 210px;
}

.pure-u-2-3 {
  padding-left: 20px;
  width: 460px;
}

.pure-form .pure-input-1-3 {
  width: 151px;
}

.pure-menu.pure-menu-open {
  border: none;
}

.third {
  display: block;
  float: left;
  width: 310px;
  height: 150px;
  padding-left: 8px;
}

.logo {
  text-decoration: none;
  color: black;
}

h3 {
  text-indent: 20px;
  line-height: 3em;
  border-bottom: 5px #F7941D solid;
}

a {
  color: #F7941D;
  text-decoration: none;
}

footer {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.indent {
  margin-left: 20px;
}

ul.numbered {
  list-style-type: decimal;
}

.latex-input {
  height: 400px;
  font-family: monoco, monospace;
  line-height: 1.5em;
  resize: none;
}

#latex-answer {
  display: none;
  height: auto;
}

img.latex-equation,
img.latex-equation-preview {
  display: block;
  margin: 40px auto;
  max-width: 100%;
}

#latex-preview .MathJax_Display {
  margin: 5em 0;
}

hr {                              /* http://css-tricks.com/simple-styles-for-horizontal-rules/ */
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
}

pre {
  padding: 10px;
  background: rgba(0,0,0,0.05);
  border: 1px solid #ccc;
  line-height: 1.5em;

  width: 728px; /* 750 - 10 - 10 - 1 - 1 = 728 */
  display: inline-block;
}

pre, code {
  font-family: "Source Code Pro", sans-serif;
}

dt {
  font-weight: bold;
}

dt:after {
  content: ":";
}

table {
  display: inline-block;
  width: 750px;
}

dd table {
  width: 710px;
}

tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,0.05);
}

th, td {
  vertical-align: top;
  padding: 0.75em;
  border: 1px solid #ccc;
}
