<aside class="pure-u-1-3">
    <h3>Guides</h3>
    <nav class="pure-menu pure-menu-open">
      <ul>
        <li><a href="{{ site.baseurl }}/">Introduction</a></li>
        <li><a href="{{ site.baseurl }}/learn/getting-started">Getting Started</a></li>
        <li><a href="{{ site.baseurl }}/learn/basic-text-structures">Basic Text Structures</a></li>
        <li><a href="{{ site.baseurl }}/learn/typing-maths-i">Typing Maths I</a></li>
        <li><a href="{{ site.baseurl }}/learn/text-formatting">Text Formatting</a></li>
        <li><a href="{{ site.baseurl }}/learn/text-environments">Text Environments</a></li>
        <li><a href="{{ site.baseurl }}/learn/math-environments">Math Environments</a></li>
        <li><a href="{{ site.baseurl }}/learn/typing-maths-ii">Typing Maths II</a></li>
        <li><a href="{{ site.baseurl }}/learn/images">Images</a></li>
      </ul>
    </nav>
  </aside>
