<aside class="pure-u-1-3">
    <h3>Table of Contents</h3>
    <nav class="pure-menu pure-menu-open">
      <ul>
        <li><a href="{{ site.baseurl }}/documentation/">Introduction</a></li>
        <li>
          <a href="{{ site.baseurl }}/documentation/installing-latex/">Installing LaTeX</a>
          <ul>
            <li><a href="{{ site.baseurl }}/documentation/installing-latex/windows/">Windows</a></li>
            <li><a href="{{ site.baseurl }}/documentation/installing-latex/mac/">Mac</a></li>
            <li><a href="{{ site.baseurl }}/documentation/installing-latex/linux/">Linux</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/documentation/document-structure/">Document Structure</a></li>
        <li><a href="{{ site.baseurl }}/documentation/packages/">Packages</a></li>
        <li><a href="{{ site.baseurl }}/documentation/table-of-contents/">Table of Contents</a></li>
        <li><a href="{{ site.baseurl }}/documentation/theorems-and-definitions/">Theorems and Definitions</a></li>
        <li><a href="{{ site.baseurl }}/documentation/text-environment/">Text Environment</a></li>
        <li><a href="{{ site.baseurl }}/documentation/math-environment/">Math Environment</a></li>
        <li><a href="{{ site.baseurl }}/documentation/tables-and-arrays/">Tables & Arrays</a></li>
        <li><a href="{{ site.baseurl }}/documentation/lists/">Lists</a></li>
        <li><a href="{{ site.baseurl }}/documentation/graphics/">Graphics</a></li>
        <li><a href="{{ site.baseurl }}/documentation/labels/">Labels</a></li>
        <li><a href="{{ site.baseurl }}/documentation/bibliography-and-referencing/">Bibliography and Referencing</a></li>
        <li><a href="{{ site.baseurl }}/documentation/macros/">Macros</a></li>
        <li><a href="{{ site.baseurl }}/documentation/typefaces/">Typefaces</a></li>
        <li><a href="{{ site.baseurl }}/documentation/resources/">Resources</a></li>
      </ul>
    </nav>
  </aside>
