<aside class="pure-u-1-3">
    <h3>Table of Contents</h3>
    <nav class="pure-menu pure-menu-open">
      <ul>
        <li><a href="{{ site.baseurl }}/documentation.html">Introduction</a></li>
        <li>
          <a href="{{ site.baseurl }}/documentation/installing-latex.html">Installing LaTeX</a>
          <ul>
            <li><a href="{{ site.baseurl }}/documentation/installing-latex/windows.html">Windows</a></li>
            <li><a href="{{ site.baseurl }}/documentation/installing-latex/mac.html">Mac</a></li>
            <li><a href="{{ site.baseurl }}/documentation/installing-latex/linux.html">Linux</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/documentation/document-structure.html">Document Structure</a></li>
        <li><a href="{{ site.baseurl }}/documentation/packages.html">Packages</a></li>
        <li><a href="{{ site.baseurl }}/documentation/table-of-contents.html">Table of Contents</a></li>
        <li><a href="{{ site.baseurl }}/documentation/theorems-and-definitions.html">Theorems and Definitions</a></li>
        <li><a href="{{ site.baseurl }}/documentation/text-environment.html">Text Environment</a></li>
        <li><a href="{{ site.baseurl }}/documentation/math-environment.html">Math Environment</a></li>
        <li><a href="{{ site.baseurl }}/documentation/tables-and-arrays.html">Tables & Arrays</a></li>
        <li><a href="{{ site.baseurl }}/documentation/lists.html">Lists</a></li>
        <li><a href="{{ site.baseurl }}/documentation/graphics.html">Graphics</a></li>
        <li><a href="{{ site.baseurl }}/documentation/labels.html">Labels</a></li>
        <li><a href="{{ site.baseurl }}/documentation/bibliography-and-referencing.html">Bibliography and Referencing</a></li>
        <li><a href="{{ site.baseurl }}/documentation/macros.html">Macros</a></li>
        <li><a href="{{ site.baseurl }}/documentation/typefaces.html">Typefaces</a></li>
        <li><a href="{{ site.baseurl }}/documentation/resources.html">Resources</a></li>
      </ul>
    </nav>
  </aside>
