{% include header.html %}

    <section class="pure-g">

      {% if page.sidebar == 'learn' %}
      {% include sidebar-learn.html %}
      {% elsif page.sidebar == 'documentation' %}
      {% include sidebar-documentation.html %}
      {% elsif page.sidebar == 'practice' %}
      {% include sidebar-practice.html %}
      {% else %}
      {% include sidebar.html %}
      {% endif %}

      <article class="pure-u-2-3">
        <h3>{{ page.title }}</h3>
        {{ content }}
      </article>

    </section>

{% include mathjax.html %}

{% include footer.html %}
